.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* Full viewport height */
  background-color: #ffffff00;
  /* Light background color */
  padding: 20px;
}

.card {
  max-width: 800px;
  /* Limit width for better readability */
  margin: auto;
  padding: 20px;
  backdrop-filter: blur(20px);
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  /* Soft shadow */
  background-color: rgba(255, 255, 255, 0.9);
  /* Slightly opaque white */
}

.card-header h2 {
  text-align: center;
    font-size: 36px;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    margin-bottom: 20px;
}

.card-header .divider {
  border: 1px solid #ccc;
  /* Light divider color */
  margin: 10px 0;
}

.card-body p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 15px;
  color: #333;
  /* Darker text color */
}