<!-- about-card.component.html -->
<div class="about-container">
<div class="background-image">
  <img src="../../../assets/images/backgroundabout1.jpg">
  </div>

<div class="card"  data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="1000" >

    <div class="card-header" data-aos="fade-up"
     data-aos-duration="100000">

      <h2>International Conference on Sustainable Technology</h2>
    </div>
    <div class="card-body" data-aos="fade-up"
     data-aos-duration="100000" >
      <p>
        The International Conference on Sustainable Technology and Conclave
        focuses on bringing together leading academic scientists, researchers,
        and research scholars to exchange and share their experiences and
        research results on all aspects of Sustainable Technology. The
        conference also provides a premier interdisciplinary platform for
        researchers, practitioners, and educators to present and discuss the
        most recent innovations, trends, and concerns as well as practical
        challenges encountered and solutions adopted in the fields of
        Sustainable Technology.
      </p>
    </div>
  </div>
</div>