<div class="background-image">
    <img
        src="https://cdn.prod.website-files.com/566f41e69091869557a9d12d/62573429badd81bf39839f85_shutterstock_1454239406-1240x698.jpeg">
</div>


<div class="registrationcover">

    <section class="registration-section">
        <h1 class="section-title">Registration</h1>
        <hr>

        <table class="registration-table">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Base Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>UG/PG/PhD Scholar/Faculty from India</td>
                    <td>6000 INR</td>
                </tr>
                <tr>
                    <td>Industry Professional from India</td>
                    <td>7500 INR</td>
                </tr>
                <tr>
                    <td>Foreign Authors (UG/PG/PhD Scholar/Faculty/Industry)</td>
                    <td>USD 200</td>
                </tr>
            </tbody>
        </table>
        <p>* 10% off for IEI Members</p>
    </section>

    <section class="additional-info">
        <h2 class="additional-title">Additional Information</h2>
        <hr>
        <p class="additional-text">*All the pricing details mentioned above are inclusive of 18% GST</p>
        <h3 class="accommodation-title">Accommodation Fees</h3>

        <ul class="accommodation-list">
            <li>Indian Participants: INR 1000 per person per day</li>
            <li>Foreign Participants: USD 20 per person per day</li>
        </ul>
        
        <h3 class="account-details-title">Account Details</h3>
        <ul class="account-details-list">
            <li><strong>Beneficiary Name: </strong>The National Institute of Engineering</li>
            <li><strong>Bank Name: </strong>HDFC Bank Ltd.</li>
            <li><strong>Account No: </strong>50100243056071</li>
            <li><strong>RTGS/NEFT IFSC: </strong>HDFC0002568</li>
            <li><strong>Account Branch: </strong>K R Mohalla- Mysuru</li>
        </ul>
        <h3 class="instructions-title">Instructions for Registration</h3>
        <ul class="instructions-list">
            <li>At least one author per accepted paper has to register.</li>
            <li>At least one author must present their accepted paper in the conference for consideration of publication
                on IEI Explore.</li>
            <li>Registration fee for the paper (with authorship) includes access to
                conference proceedings, all technical sessions, and a presenter certificate.</li>

            <li>Registration fee for conference participation without authorship; attendees are not entitled to paper
                publication; however, a participation certificate will be provided.</li>
        </ul>

        <h3 class="important-notes-title">Important Notes</h3>
        <ul class="important-notes-list">
            <li>Registration category should be chosen appropriately from the aforementioned table.</li>
            <li>Registration fees are not refundable or transferable.</li>
            <li>You must save the payment proof in PDF with UTR number. This payment proof file is to be attached in a section while
                filling the registration form.</li>
            <li>ICST-2025 organizing committee will not be responsible for any financial loss caused by improper
                transactions during the registration process in ICST-2025.</li>
            <li>The author's name(s) must match the ones provided during the manuscript submission and registration
                (There should be one/same name at all stages of the conference).</li>
            <li>The submission of invalid proofs will lead to the cancellation of participation in the conference.</li>
        </ul>
    </section>

    <section class="important-dates" id="important-dates">
        <h2 class="important-dates-title">Important Dates</h2>
        <hr>
        <ul class="important-dates-list">
            <li>Submission of Full-length Manuscript (opens from) - <strong>19<sup>th</sup> October 2024</strong></li>
            <li>Last date to submit Full-length Manuscript - <strong>15<sup>th</sup> December 2024</strong></li>
            <li>Notification of Acceptance - <strong>15<sup>th</sup> January 2025</strong></li>
            <li>Registration Dates - <strong>15<sup>th</sup> - 30<sup>th</sup> January 2025</strong></li>
            <li>Submission of Camera-ready Manuscript and Copyright form - <strong>15<sup>th</sup> - 30<sup>th</sup> January 2025</strong></li>
            <li>Last Date for Registration - <strong>25<sup>th</sup> January 2025</strong></li>
            <li>Conference Dates - <strong>19<sup>th</sup> and 20<sup>th</sup> February 2025</strong></li>
        </ul>
    </section>

</div>