<!-- call-for-papers.component.html -->
<div class="call-for-papers">
  <div class="background-image" >
<iframe
  src="https://www.youtube.com/embed/iNSa8oq4vYQ?autoplay=1&loop=1&start=11&end=129&playlist=iNSa8oq4vYQ&controls=0&modestbranding=1&rel=0&showinfo=0&iv_load_policy=3&fs=0&mute=1"
  frameborder="0" allow="autoplay; fullscreen" allowfullscreen
  style="width: 130vw; height: 130vh; position: absolute; top: -20px; left: -20px; object-fit: cover; z-index: -5;">
</iframe>  
</div>
  <div class="contentcover">
    <div class="content-card">
      <h3>Call For Papers</h3>
      <p>
        Conference does not accept/encourage Survey/Review articles.
      </p>
      <p>
        Prospective authors are encouraged to submit quality and original research papers for presentation at the Conference. Authors are requested to submit their manuscripts in PDF format not exceeding 6 pages in A4 size through online submission at Microsoft CMT - on or before 30th November 2024. The manuscript should follow the standard IEEE template. The format of the paper could be downloaded in the link below:
      </p>
      <p>
        <a href="https://www.ieee.org/conferences/publishing/templates.html" class="template-link">Manuscript Template Link</a>
      </p>
      <p>
        All submissions for the conference will be handled electronically and submitted papers will be peer-reviewed by domain experts. To submit the papers, use the Microsoft CMT Link mentioned below:
      </p>

    
  

      <a href="link-to-submit-paper" class="submit-btn">Submit Your Paper</a>
      <a href="#" (click)="downloadGuidelines()" class="download-btn">
        Download Guidelines for Authors
      </a>
  </div>
  </div>
</div>