<footer>
    <div class="footer-content">
        <div class="logo-container">
            <a href="https://nie.ac.in"> 
                <img src="../../../assets/logos/NieLogo.png" alt="NIE Logo" class="logo">
            </a>
        </div>
        <div class="footer-info">
            <p>The National Institute of Engineering</p>
            <p>Mysuru, Karnataka, India</p>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="left-corner">
            <p>&copy; 2024 NIE</p>
        </div>
        <div class="right-corner">
            <p>Social Media</p>
        </div>
    </div>
</footer>
