<body>
<header [ngClass]="{'sticky-navbar': isSticky}">
  <img src="../../../assets/logos/ICSTlogo.png" alt="ICST Logo" class="logo" />
  <nav>
    <ul>
      <li><a routerLink="home">Home</a></li>
      <li><a routerLink="about">About</a></li>
      <li><a routerLink="committee">Committee</a></li>
      <li><a routeLink="conclave">Conclave</a></li>
      <li><a routerLink="callforpaper">Call For Papers</a></li>
      <li><a routerLink="tracks">Track</a></li>
      <li><a routerLink="register">Registration</a></li>
      <li><a routerLink="contactus">Contact Us</a></li>
    </ul>
  </nav>
</header>
</body>