<section class="sponsors_cover">
    <h2>Our Sponsors</h2>
    <div class="cards" #cardsContainer>
        <div class="cards-holder">
            <div class="card" *ngFor="let sponsor of sponsors">
                <img [src]="sponsor.src" alt="{{ sponsor.name }}">
                <div class="sponsor_name">{{ sponsor.name }}</div>
            </div>
        </div>
    </div>

    <!-- Scroll Buttons -->
    <button class="scroll-left" (click)="scrollLeft()">←</button>
    <button class="scroll-right" (click)="scrollRight()">→</button>
</section>