.sponsors_cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
    width: 100vw;
    background-color: #ffffff;
    position: relative;
    /* To position the scroll buttons */
}

.sponsors_cover h2 {
    font-size: 38px;
    text-transform: capitalize;
    font-weight: 300;
    color: #3C5E4B;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    /* Take full width of the parent container */
    overflow-x: auto;
    /* Enable horizontal scrolling */
    position: relative;
}

.cards-holder {
    padding:20px 20px;
    display: flex;
    flex-shrink: 0;
    gap: 30px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.sponsors_cover .cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 30px;
    gap: 20px;
    width: 350px;
    height: 200px;
    background-color: #ffffff;
    border: 1px solid #e5f4f2;
    box-shadow: 34.8541px 29.626px 48.34px rgba(51, 102, 255, 0.05);
    border-radius: 20px;
    scroll-snap-align: start;
    transition: transform 0.3s ease;
}

.sponsors_cover .cards .card:hover {
    transform: translateY(-10px);
}

.sponsors_cover .cards .card img {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 100px;
}

.sponsors_cover .cards .card .sponsor_name {
    font-weight: 500;
    font-size: 21px;
    color: #111827;
    text-align: center;
    margin-top: 10px;
}

/* Scrollbar styles */
.sponsors_cover .cards::-webkit-scrollbar {
    height: 2px;
}


/* Scroll buttons styling */
.scroll-left,
.scroll-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.scroll-left {
    left: 20px;
}

.scroll-right {
    right: 20px;
}

/* Optional: Hover effects for buttons */
.scroll-left:hover,
.scroll-right:hover {
    background-color: #f5f5f5;
}