<section class="hero">

<div claas="logos">

  <div class="logo_container">

    <img *ngFor="let image of images" [src]="image" alt="Logo Image" class="logo">

  </div>

</div>

<div class="hero_intro">

  <h3>ICST - 2025</h3>

  <p>Join us for an inspiring event where industry leaders, researchers, and professionals gather to <br> explore the latest
  advancements in sustainable technology and its impact on our world.</p>

</div>

<div class="hero_png">
  <img src="../../../assets/images/illustrations/hero1.png">
</div>

</section>

<app-cards></app-cards>

<app-vision-mission></app-vision-mission>

<app-sponsors></app-sponsors>