.hero {
  background-color: #3C5E4B;
  color: white;
  padding: 20px;
  height:85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  gap:20%;
}

.logos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 80vw;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 6px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  gap: 15px;
}

.logo{
  margin-left: 2vw;
  margin-right: 2vw;
  width: auto;
  height: 100px;
}

.hero_intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero_intro h3{
  font-size: 50px;
  font-weight: 300;
  margin-bottom:2vh;
  letter-spacing: 15px;
}

.hero_intro p{
  font-size: 25px;
  font-weight: 200;
  margin-bottom: 4vh;
  line-height: 40px;
}

.hero_png{
  position: absolute;
  right: 0;
  top: 50%;
  
}

.hero_png img{
  max-width: 600px;
  height: 550px;
}