

<div class="cover">
    <h2> GOING LIVE ON</h2>
<div class="countdown-container">
    <div class="countdown-timer">
        <div class="countdown-box">
            <span class="countdown-value">{{ days }}</span>
            <span class="countdown-label">Days</span>
        </div>
        <div class="countdown-box">
            <span class="countdown-value">{{ hours }}</span>
            <span class="countdown-label">Hours</span>
        </div>
        <div class="countdown-box">
            <span class="countdown-value">{{ minutes }}</span>
            <span class="countdown-label">Minutes</span>
        </div>
        <div class="countdown-box">
            <span class="countdown-value">{{ seconds }}</span>
            <span class="countdown-label">Seconds</span>
        </div>
    </div>
</div>
</div>