/* General styling for the page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6f9e600;
    overflow-x: hidden;
        /* Prevent horizontal scroll */
    /* Light green background */
}

.background-image {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;

    /* Places the background image behind the content */
}

.background-image img {
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    object-fit: cover;
    /* Cover the entire container */
    object-position: center;
    /* Center the image */
}

/* Section styling */
.tracks-section {
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

/* Heading styling */
.section-title {
    text-align: center;
        font-size: 36px;
        color: #000000;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 300;
        margin-bottom: 20px;
}

/* Card container styling */
.track-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
/* Individual track card styling */
.track-card {
    background-color: #ffffff;
    /* White background for cards */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    /* Fixed width for cards */
    transition: transform 0.3s;
    text-align: left;
    /* Left align text within the card */
}

/* List styling */
.track-themes {
    list-style-type: none;
    /* Remove bullets */
    padding: 0;
}

/* List item styling with numbering */
.track-themes li {
    padding: 5px 0;
    /* Space out items */
    color: #34495e;
    /* Darker gray for items */
}

.track-themes li::before {
    content: counter(item) ". ";
    /* Number the list items */
    counter-increment: item;
    /* Increment the counter */
}

/* Reset the counter for each track */
.track-card {
    counter-reset: item;
    /* Reset the counter for each track card */
}

/* Mobile-friendly adjustments */
@media (max-width: 768px) {

    /* Section Title */
    .section-title {
        font-size: 28px;
        letter-spacing: 1px;
        margin-bottom: 15px;
    }


    /* Track Cards Container */
    .track-cards-container {
        flex-direction: column;
        gap: 15px;
    }

    /* Track Card */
    .track-card {
        width: 90%;
        margin: 0 auto;
        padding: 15px;
    }


    .track-title{
        font-size: 22px;
        font-weight: 400;
    }
    /* List Styling */
    .track-themes li {
        padding: 3px 0;
        font-size: 14px;
    }

    /* General background image adjustments for smaller screens */
    .background-image {
        height: 120%;
        /* Adjust for mobile view */
    }

    .background-image img {
        height: 100%;
    }
}