<div class="background-image">
    <iframe
        src="https://www.youtube.com/embed/uD4izuDMUQA?autoplay=1&loop=1&start=1580&end=1626&controls=0&modestbranding=1&rel=0&showinfo=0&iv_load_policy=3&fs=0&mute=1"
        frameborder="0" allow="autoplay; fullscreen" allowfullscreen
        style="width: 130vw; height: 130vh; position: absolute; top: -20px; left: -20px; object-fit: cover; z-index: -5;">
    </iframe>
</div>
<section class="tracks-section">
    


    <h1 class="section-title">Conference Themes</h1>

    <div class="track-card" data-aos="fade-up-right"
     data-aos-duration="3000">
        <h2 class="track-title">Track 1: Sustainable Energy & Mobility</h2>
        <ul class="track-themes">
            <li>Sustainable/Green Energy</li>
            <li>Renewable Energy Technologies</li>
            <li>Energy systems modelling</li>
            <li>Emerging vehicle Technologies</li>
            <li>Artificial intelligence and big data for energy transition</li>
            <li>Green hydrogen and Clean Fuels</li>
            <li>Micro grids</li>
            <li>Fuel cells, Batteries, Super capacitors</li>
        </ul>
        <div class="track-info">
            <h3>Handled By :</h3>
            <p> Dr. Shamsundar S and Dr. Jayasankar V. N.</p>
            <ul>
                <li><strong>Renewable Energy:</strong> Technologies like solar, wind, hydroelectric, and geothermal power contribute to sustainable energy solutions by reducing reliance on fossil fuels.</li>
                <li><strong>Electric Vehicles (EVs):</strong> EVs help reduce greenhouse gas emissions and dependence on oil, promoting sustainable mobility.</li>
                <li><strong>Smart Grids:</strong> These modernize electricity systems to improve efficiency and integrate renewable energy sources effectively.</li>
            </ul>
        </div>
    </div>

    <div class="track-card" data-aos="fade-up-left">
        <h2 class="track-title">Track 2: Automation & Robotics</h2>
        <ul class="track-themes">
            <li>Design and Analysis of Robotic systems</li>
            <li>Sensors for Robotics</li>
            <li>Special purpose Robots</li>
            <li>UAV and Drone Technology</li>
            <li>Semiconductor and Optoelectronic devices</li>
        </ul>
        <div class="track-info">
            <h3>Handled By :</h3>
            <p>Dr. K R Prakash and Dr. Rajalekshmi Kishore</p>
            <ul>
                <li><strong>Industrial Automation:</strong> Reduces energy consumption and waste in manufacturing processes through optimized operations.</li>
                <li><strong>Agricultural Robotics:</strong> Helps in precision farming, reducing chemical use and optimizing resource efficiency.</li>
                <li><strong>Autonomous Vehicles:</strong> Improves transportation efficiency and safety while potentially reducing traffic and emissions.</li>
            </ul>
        </div>
    </div>

    <div class="track-card" data-aos="fade-up-right"> 
        <h2 class="track-title">Track 3: Materials & Design for Sustainability</h2>
        <ul class="track-themes">
            <li>Smart and energy harvesting materials and devices</li>
            <li>Soft matter (Polymers, Biomaterials)</li>
            <li>Nano and Bio-Materials</li>
            <li>Surfaces, interfaces and thin films</li>
            <li>AI and ML applications for materials science & Design</li>
            <li>Design and Analysis</li>
            <li>Sustainable design technology</li>
        </ul>
        <div class="track-info">
            <h3>Handled By :</h3>
            <p>Dr. Imran Jamadar and Dr. N C Balaji</p>
            <ul>
                <li><strong>Biodegradable Materials:</strong> Such as bioplastics that reduce environmental impact compared to traditional plastics.</li>
                <li><strong>Recycled Materials:</strong> Using recycled content in manufacturing to conserve resources and reduce waste.</li>
                <li><strong>Design for Disassembly:</strong> Creating products that are easy to disassemble and recycle at the end of their life cycle.</li>
            </ul>
        </div>
    </div>

    <div class="track-card" data-aos="fade-up-left">
        <h2 class="track-title">Track 4: Artificial Intelligence & Computing</h2>
        <ul class="track-themes">
            <li>Computational modelling</li>
            <li>IoT Solutions for Sustainable Technology</li>
            <li>Embedded and VLSI Design for Edge Computing</li>
            <li>AI for Signal and Image Processing</li>
            <li>IoT for Healthcare and Industries</li>
            <li>Augmented and Virtual Reality</li>
            <li>Ethics of AI</li>
        </ul>
        <div class="track-info">
            <h3>Handled By :</h3>
            <p>Dr. Rekha K. S. and Dr. Shashank Dhananjaya</p>
            <ul>
                <li><strong>Energy Efficiency:</strong> AI algorithms optimize energy use in buildings, data centers, and industrial processes.</li>
                <li><strong>Smart Grid Management:</strong> AI helps predict energy demand and manage renewable energy sources in real-time.</li>
                <li><strong>Environmental Monitoring:</strong> AI aids in monitoring and managing ecosystems, wildlife, and natural resources.</li>
            </ul>
        </div>
    </div>

    <div class="track-card" data-aos="fade-up-right">
        <h2 class="track-title">Track 5: Environment & Green Buildings</h2>
        <ul class="track-themes">
            <li>Sustainable and Green Buildings</li>
            <li>Air Pollution Control and Air Quality Management</li>
            <li>Sustainable Water Management Strategies</li>
            <li>Applications of AI/ML in mitigating climate change issues related to energy-efficient buildings</li>
        </ul>
        <div class="track-info">
            <h3>Handled By :</h3>
            <p> Dr. K Gourav and Dr. Vasanth Keshav</p>
            <ul>
                <li><strong>Green Building Design:</strong> Uses sustainable materials, energy-efficient systems, and smart technologies to minimize environmental impact.</li>
                <li><strong>Passive Design Techniques:</strong> Natural ventilation, daylighting, and thermal insulation reduce energy consumption in buildings.</li>
                <li><strong>Water Management:</strong> Technologies for rainwater harvesting, greywater recycling, and efficient irrigation systems conserve water resources.</li>
            </ul>
        </div>
    </div>

    <div class="track-card" data-aos="fade-up-left">
        <h2 class="track-title">Track 6: Applied Science/Material Chemistry</h2>
        <ul class="track-themes">
            <li>Energy Storage/Harvesting Materials and Devices</li>
            <li>Crystal Growth and Applications</li>
            <li>Optoelectronic Materials</li>
            <li>Nano, 2D and Graphene Based Materials</li>
            <li>Modelling and Simulation of Materials and Devices</li>
            <li>Thin Film Devices</li>
            <li>Polymer / Ceramic / Dielectric / Composite Materials</li>
            <li>Magnetic / Optical / Fluorescent Materials/LED/OLED</li>
            <li>Bio Materials</li>
            <li>Radiation Shielding Materials</li>
            <li>Electrochemical Sensors and Super capacitors</li>
        </ul>
        <div class="track-info">
            <h3>Handled By :</h3>
            <p> Dr. Sankarshan B M and Dr. Sangamesha M A</p>
        </div>
    </div>
</section>
