<div class="background-image">
    <iframe
        src="https://www.youtube.com/embed/uD4izuDMUQA?autoplay=1&loop=1&start=1580&end=1626&controls=0&modestbranding=1&rel=0&showinfo=0&iv_load_policy=3&fs=0&mute=1"
        frameborder="0" allow="autoplay; fullscreen" allowfullscreen
        style="width: 130vw; height: 130vh; position: absolute; top: -20px; left: -20px; object-fit: cover; z-index: -5;">
    </iframe>
</div>
<section class="tracks-section">
    


    <h1 class="section-title">Conference Themes</h1>

    <div class="track-card" data-aos="fade-up-right"
     data-aos-duration="3000">
        <h2 class="track-title">Track 1: Sustainable Energy </h2>
        <ul class="track-themes">
            <li>Renewable Energy</li>
            <li>Sustainable Power</li>
            <li>Solar, Wind and Bioenergy</li>
            <li>Geothermal Energy</li>
            <li>Green nanotechnology</li>
            <li>Nano Environmental Technologies</li>
            <li>Fuel cells, Green Energy and Economy</li>
            <li>Bioremediation & Waste to Energy</li>
            <li>Smart Grid & Sustainable technologies</li>
            <li>Electric vehicles & Battery energy storage</li>
            <li>Energy Storage and Conservation</li>
            <li>NEXT-GENERATION Technologies in Power sector</li>
            <li>Environmental impact of energy conversion</li>
            <li>Hydrogen energy conversion systems</li>
            <li>Environmental Impact Assessment</li>
            <li>Fuel Trends, Pricing and Availability</li>
            <li>Emissions Control Technologies</li>
        </ul>
        
    </div>

    <div class="track-card" data-aos="fade-up-left">
        <h2 class="track-title">Track 2: Robotics & e-Mobility for sustainable development</h2>
        <ul class="track-themes">
        <li>Electrical vehicle technology</li>
        <li>Battery production and disposal</li>
        <li>Battery charging stations</li>
        <li>Electric drive systems for electric vehicles</li>
        <li>Power electronics</li>
        <li>e-vehicle design</li>
        <li>Life cycle analysis and emission reduction</li>
        <li>Solid state batteries</li>
        <li>Hydrogen fuel cells</li>
        <li>Automation, Monitoring, Control and Electrical systems</li>
        <li>Wildlife Tracking: Drones and robotic sensors</li>
        <li>Pollution Monitoring: Robots equipped with pollution monitoring sensors</li>
        <li>Precision Farming: Agricultural robots, including drones and autonomous tractors</li>
        <li>Robots for Weed and Pest Control</li>
        <li>Robots for Waste collection, Sorting and Recycling</li>
        <li>Robots for Renewable Energy Maintenance- solar panels and wind turbines</li>
        <li>Robotic systems for energy management</li>
        <li>Automated Construction</li>
        <li>Robots for Inspection and Maintenance</li>
        <li>Robots in manufacturing</li>
        <li>AI to enhance the capabilities of robots in decision-making and environmental adaptation</li>
        <li>Cobots</li>
        </ul>
       
    </div>

    <div class="track-card" data-aos="fade-up-right"> 
        <h2 class="track-title">Track 3: Sustainable Materials</h2>
        <ul class="track-themes">
            <li>Renewable Materials</li>
            <li>Recycled Materials</li>
            <li>Biodegradable Materials</li>
            <li>Low-Impact and Non-Toxic Materials</li>
            <li>Energy-Efficient Materials</li>
            <li>Sustainable Construction Materials</li>
            <li>Green Concrete</li>
            <li>Energy Harvesting Materials</li>
            <li>Advanced and Emerging Materials - Self-Healing Materials</li>
            <li>Lifecycle Assessment</li>
            <li>Energy Storage/ Harvesting Materials and Devices</li>
            <li>Crystal Growth and Applications</li>
            <li>Optoelectronic Materials</li>
            <li>Nano, 2D and Graphene Based Materials</li>
            <li>Modelling and Simulation of Materials and Devices</li>
            <li>Thin Film Devices</li>
            <li>Polymer / Ceramic / Dielectric / Composite Materials</li>
            <li>Magnetic / Optical / Fluorescent Materials / LED / OLED</li>
            <li>Bio Materials</li>
            <li>Radiation Shielding Materials</li>
            <li>Electrochemical Sensors and Super capacitors</li>
        </ul>
        
    </div>

    <div class="track-card" data-aos="fade-up-left">
        <h2 class="track-title">Track 4: Design for Sustainability</h2>
        <ul class="track-themes">
            <li>Cradle-to-Cradle Design</li>
            <li>Modular Design</li>
            <li>Product Lifecycle Assessment</li>
            <li>Circular Design</li>
            <li>Design for Low-Energy Production</li>
            <li>Design for Energy-Efficient Use</li>
            <li>Ethical and inclusive design</li>
            <li>Design for Repair and Maintenance</li>
            <li>Design for Modular Use</li>
            <li>Design for Minimal Impact</li>
            <li>Sustainable Design Tools and software</li>
            <li>Optimum design</li>
            <li>Eco-Design</li>
            <li>Diagnostics, Condition Monitoring and Optimization</li>
            <li>Regenerative Design</li>
            <li>Simulation and rapid prototyping</li>
        </ul>
        
    </div>

    <div class="track-card" data-aos="fade-up-right">
        <h2 class="track-title">Track 5: Green Computing for Sustainability</h2>
        <ul class="track-themes">
            <li>Advanced IT energy-aware technologies</li>
            <li>Green Computing</li>
            <li>Geo-energy</li>
            <li>E-Cycling</li>
            <li>E-Inclusion</li>
            <li>Electronic waste</li>
            <li>Energy Efficient Ethernet</li>
            <li>IT energy management and Power-aware software</li>
            <li>Power-efficient architectures and chip designs</li>
            <li>Component level power management</li>
            <li>Memory Server Management</li>
            <li>Power aware networking</li>
            <li>Smart Grids applications</li>
            <li>Technology as Green Enablers</li>
        </ul>
        
    </div>

    <div class="track-card" data-aos="fade-up-left">
        <h2 class="track-title">Track 6: Environment & Green Buildings for sustainable development</h2>
        <ul class="track-themes">
            <li>Green Building Design</li>
            <li>Rainwater Harvesting</li>
            <li>Photovoltaics</li>
            <li>Recycling and Sewage Treatment</li>
            <li>Landfill Management</li>
            <li>Smart Grid Developments</li>
            <li>Smart Cities</li>
            <li>Building Envelope</li>
            <li>Energy-Efficient Systems</li>
            <li>Water-Saving Fixtures</li>
            <li>Greywater Recycling</li>
            <li>Eco-Friendly Building Materials</li>
            <li>Sustainable Site Design</li>
            <li>Construction Waste Management</li>
            <li>Green Certifications and Standards</li>
            <li>Green Roofs and Walls</li>
            <li>Zero-Energy Buildings</li>
            <li>Climate Resilience</li>
        </ul>
        
    </div>
</section>
