

<div class="background-image">
  <img
    src="https://images.pexels.com/photos/1169754/pexels-photo-1169754.jpeg?cs=srgb&dl=pexels-philippedonn-1169754.jpg&fm=jpg">
</div>
<!DOCTYPE html>
<html>

<head>
  <title>Conference Committees</title>
</head>

<body>

  <h2>Conference Committees</h2>

  <table>
    <tr>
      <th>Role Category</th>
      <th>Role</th>
      <th>Name</th>
      <th>Affiliation</th>
    </tr>
    <tr>
      <td>Chief Patron</td>
      <td>Chief Patron</td>
      <td>Dr. Rohini Nagapadma</td>
      <td>Principal, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Chief Patron</td>
      <td>Chief Patron</td>
      <td>Dr. M S Ganesh Prasad</td>
      <td>Vice Principal, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Conference Leadership</td>
      <td>Conference Chair</td>
      <td>Prof. Shamsundar</td>
      <td>Associate Professor, Dept. of ME, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Conference Leadership</td>
      <td>Conference Co-Chair</td>
      <td>Dr. Imran M Jamadar</td>
      <td>Dean R&D, Associate Professor, Dept. of ME, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Conference Leadership</td>
      <td>Conference Co-Chair</td>
      <td>Prof. Dr. Stephan Weyers</td>
      <td>Professor, University of Applied Sciences and Arts [FH] Dortmund, Germany</td>
    </tr>
    <tr>
      <td>Technical Program</td>
      <td>Technical Program Committee Chair</td>
      <td>Dr.-Ing. Vinod Rajamani</td>
      <td>Professor, University of Applied Sciences and Arts [FH] Dortmund, Germany</td>
    </tr>
    
    <tr>
      <td>Publication</td>
      <td>Publication Chair</td>
      <td>Dr. K. R. Prakash</td>
      <td>Professor & Head, Dept. of ME, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Publication</td>
      <td>Publication Co-Chair</td>
      <td>Mr. Prasanta Kumar Samal</td>
      <td>Assistant Professor, Dept. of ME, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Organization</td>
      <td>Local Arrangement Chair</td>
      <td>Dr. Sharath Chandra N.</td>
      <td>Assistant Professor, Dept. of ME, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Organization</td>
      <td>Local Arrangement Co-Chair</td>
      <td>Dr. Lakshmi Ranganatha V</td>
      <td>Associate Professor & Head, Dept. of CHE, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Track Chairs</td>
      <td>Track 1 [Sustainable Energy] Chair</td>
      <td>Dr. Jayasankar V. N.</td>
      <td>Associate Professor, Dept. of EE, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Track Chairs</td>
      <td>Track 1 [Sustainable Energy] Chair</td>
      <td>DR. B R Ananthapadmanabha</td>
      <td>Associate Professor, Dept. of EE, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Track Chairs</td>
      <td>Track 2 [Robotics & e-Mobility for sustainable development] Chair</td>
      <td>Dr. Rajalekshmi Kishore</td>
      <td>Associate Professor, Dept. of ECE, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Track Chairs</td>
      <td>Track 2 [Robotics & e-Mobility for sustainable development] Chair</td>
      <td>Dr. Kavitha S S</td>
      <td>Assistant Professor, Dept. of ECE, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Track Chairs</td>
      <td>Track 3 [Sustainable Materials] Chair</td>
      <td>Dr. Sangamesh M A</td>
      <td>Assistant Professor, Dept. of CHE, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Track Chairs</td>
      <td>Track 3 [Sustainable Materials] Chair</td>
      <td>Dr. Sankarshan B M</td>
      <td>Assistant Professor, Dept. of PHY, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Track Chairs</td>
      <td>Track 4 [Design for Sustainability] Chair</td>
      <td>Dr. N. C. Balaji</td>
      <td>Assistant Professor, Dept. of CVE, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Track Chairs</td>
      <td>Track 4 [Design for Sustainability] Chair</td>
      <td>Dr. Chandan M C</td>
      <td>Assistant Professor, Dept. of CVE, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Track Chairs</td>
      <td>Track 5 [Green Computing for Sustainability] Chair</td>
      <td>Dr. Rekha K. S.</td>
      <td>Assistant Professor, Dept. of CSE, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Track Chairs</td>
      <td>Track 5 [Green Computing for Sustainability] Chair</td>
      <td>Dr. Shashank Dhananjaya</td>
      <td>Assistant Professor, Dept. of ISE, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Track Chairs</td>
      <td>Track 6 [Environment & Green Buildings] Chair</td>
      <td>Dr. Vasanth Keshav</td>
      <td>Assistant Professor, Dept. of CVE, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Track Chairs</td>
      <td>Track 6 [Environment & Green Buildings] Chair</td>
      <td>Dr. K Gourav</td>
      <td>Assistant Professor, Dept. of CVE, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Finance</td>
      <td>Finance Chair</td>
      <td>Dr. Vikram Athreya</td>
      <td>Assistant Professor, Dept. of ME, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Finance</td>
      <td>Finance Chair</td>
      <td>Dr. T. Raghavendra</td>
      <td>Assistant Professor, Dept. of ME, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Sustainability Conclave</td>
      <td>Sustainability Conclave Chair</td>
      <td>Dr. Sunil Gaekwad</td>
      <td>Assistant Professor, Dept. of ME, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Organizing Committee</td>
      <td>Organizing Committee</td>
      <td>Dr. Yusuf Javed</td>
      <td>Professor & Head, Dept. of CVE, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Organizing Committee</td>
      <td>Organizing Committee</td>
      <td>Dr. Pradeepa H</td>
      <td>Associate Professor & Head, Dept. of EEE, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Organizing Committee</td>
      <td>Organizing Committee</td>
      <td>Dr. Parmeswara S</td>
      <td>Associate Professor & Head, Dept. of ECE, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Organizing Committee</td>
      <td>Organizing Committee</td>
      <td>Dr. H N Divakar</td>
      <td>Professor & Head, Dept. of IPE, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Organizing Committee</td>
      <td>Organizing Committee</td>
      <td>Dr. Anitha R</td>
      <td>Professor & Head, Dept. of CSE, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Organizing Committee</td>
      <td>Organizing Committee</td>
      <td>Dr. Girish</td>
      <td>Professor & Head, Dept. of ISE, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Organizing Committee</td>
      <td>Organizing Committee</td>
      <td>Dr. S Doreswamy</td>
      <td>Professor & Head, Dept. of PHY, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Organizing Committee</td>
      <td>Organizing Committee</td>
      <td>Dr. Lakshmi Ranganatha V</td>
      <td>Associate Professor & Head, Dept. of CHE, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Organizing Committee</td>
      <td>Organizing Committee</td>
      <td>Dr. Shubha Nagaraj</td>
      <td>Associate Professor & Head, Dept. of MATH, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Organizing Committee</td>
      <td>Organizing Committee</td>
      <td>Dr. Sanjay Kumar C K</td>
      <td>Associate Professor & Head, Dept. of MCA, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Advisory Committee</td>
      <td>Advisory Committee</td>
      <td>Dr. S.N. Omkar</td>
      <td>Chief Research Scientist Control & Guidance, Indian Institute of Science, Bangalore</td>
    </tr>
    <tr>
      <td>Advisory Committee</td>
      <td>Advisory Committee</td>
      <td>Dr. Naveen Mysore Balasubramanya</td>
      <td>Associate Professor, Department of Electrical, Electronics and Communication Engineering (EECE), IIT Dharwad</td>
    </tr>
    <tr>
      <td>Committee Member</td>
      <td>Committee Member</td>
      <td>Dr. Damodar Reddy Edla</td>
      <td>Associate Professor, Department of Computer Science and Engineering, NIT Goa</td>
    </tr>
    <tr>
      <td>Committee Member</td>
      <td>Committee Member</td>
      <td>Dr. Sanjeev Gurugopinath</td>
      <td>Engineering Director at MMRFIC Tech. Pvt. Ltd.</td>
    </tr>
    <tr>
      <td>Committee Member</td>
      <td>Committee Member</td>
      <td>Dr. Nisha Haridas</td>
      <td>Senior Lead Systems Engineer, Qualcomm, Bangalore</td>
    </tr>
    <tr>
      <td>Committee Member</td>
      <td>Committee Member</td>
      <td>Dr. Praveen Gurunath Bharathi</td>
      <td>Research Associate, Nuclear Medicine and Molecular Imaging, Department of Radiology, Stanford Medicine, Stanford
        University, USA</td>
    </tr>
    <tr>
      <td>Committee Member</td>
      <td>Committee Member</td>
      <td>Dr. Nikhil Sasidharan</td>
      <td>Assistant Professor, Electrical Engineering Department, NIT Calicut</td>
    </tr>
    <tr>
      <td>Committee Member</td>
      <td>Committee Member</td>
      <td>Dr. Vinatha U</td>
      <td>Professor, Electrical & Electronics Engineering Department, NITK Surathkal</td>
    </tr>
    <tr>
      <td>Committee Member</td>
      <td>Committee Member</td>
      <td>Dr. Jose Thankachan</td>
      <td>Assistant Professor, Electrical & Electronics Engineering Department, NIT Trichy</td>
    </tr>
    <tr>
      <td>Committee Member</td>
      <td>Committee Member</td>
      <td>Dr. Shiva Ji</td>
      <td>Architecture / Industrial Design / Heritage - Research, Associate Professor, Indian Institute of Technology
        Hyderabad</td>
    </tr>
    <tr>
      <td>Committee Member</td>
      <td>Committee Member</td>
      <td>Dr. A. P. Sudheer</td>
      <td>Associate Professor, NIT Calicut Mechanical</td>
    </tr>
    <tr>
      <td>Committee Member</td>
      <td>Committee Member</td>
      <td>Dr. Arun P</td>
      <td>Associate Professor, Mechanical Engineering Department, NIT Calicut</td>
    </tr>
    <tr>
      <td>Committee Member</td>
      <td>Committee Member</td>
      <td>Prof. Vinay Kumar Ravi</td>
      <td>Centre for Artificial Intelligence, Prince Mohammad Bin Fahad University, Khobar, Saudi Arabia</td>
    </tr>
    <tr>
      <td>Committee Member</td>
      <td>Committee Member</td>
      <td>Dr. B. Surendiran</td>
      <td>Associate Professor, Dept. of CSE, National Institute of Technology Puducherry, Karaikal- 609609, Puducherry,
        India</td>
    </tr>
    <tr>
      <td>Committee Member</td>
      <td>Committee Member</td>
      <td>Dr. Pradeep Kumar TS</td>
      <td>Professor, School of Computer Science and Engineering, VIT, Chennai</td>
    </tr>
    <tr>
      <td>Committee Member</td>
      <td>Committee Member</td>
      <td>Dr. Gururaj H.L</td>
      <td>Associate Professor, Department of Information Technology, Manipal Institute of Technology, Bengaluru</td>
    </tr>
    <tr>
      <td>Committee Member</td>
      <td>Committee Member</td>
      <td>Dr. Shrirang Ambaji Kulkarni</td>
      <td>Associate Professor, Department of Information Technology, Manipal Institute of Technology, Bengaluru</td>
    </tr>
    <tr>
      <td>Committee Member</td>
      <td>Committee Member</td>
      <td>Dr. Prithvi C.</td>
      <td>Assistant Professor, Dept. of ME, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Committee Member</td>
      <td>Committee Member</td>
      <td>Prof. Shamsundar</td>
      <td>Associate Professor, Dept. of ME, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Committee Member</td>
      <td>Committee Member</td>
      <td>Dr. K R Prakash</td>
      <td>Professor & Head, Dept. of ME, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Committee Member</td>
      <td>Committee Member</td>
      <td>Mr. Harshith Divakar</td>
      <td>TPO, NIE, Mysuru</td>
    </tr>
    <tr>
      <td>Committee Member</td>
      <td>Committee Member</td>
      <td>Mr. Ravi Shankar M. D.</td>
      <td>Assistant Professor, Department of Mechanical Engineering</td>
    </tr>
    </table>