<!-- Toggle Button (Hamburger Icon) -->
<mat-icon *ngIf="!(isVisible | async)" class="hamburger" (click)="toggleVisibility()">menu</mat-icon>

<!-- Sidebar Content -->
<div class="sidebar-container" *ngIf="(isVisible | async)">
  <div class="sidebar" data-aos="fade-right">
    <a routerLink="/" (click)="hideSidebar()">Home</a>
    <a routerLink="/about" (click)="hideSidebar()">About</a>
    <a routerLink="/committee" (click)="hideSidebar()">Committee</a>
    <a routerLink="/callforpapers" (click)="hideSidebar()">Call For Papers</a>
    <a href="#Awards" (click)="hideSidebar()">Awards</a>
    <a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="hideSidebar()">Registration</a>
    <a routerLink="/sponsors" (click)="hideSidebar()">Sponsors</a>
    <a routerLink="/tracks" (click)="hideSidebar()">Tracks</a>
    <a routerLink="/contactus" (click)="hideSidebar()">Contact Us</a>
  </div>
</div>
