<section class="vision">

    <div class="vision-texts">

    <h2 class="vision-head">{{ vision.head }}</h2>

    <p class="vision-content">{{ vision.content }}</p>

    </div>

    <img [src]="vision.img" alt="{{ vision.head }}" class="vision-image" />

</section>

<section class="mission">

    <div class="mission-texts">

        <h2 class="mission-head">{{ mission.head }}</h2>
        
        <p class="mission-content">{{ mission.content }}</p>

    </div>

        <img [src]="mission.img" alt="{{ mission.head }}" class="mission-image"/>

</section>