<div class="vision-mission-container">
<div class="background-image">
    <img src="../../../assets/images/backgroundabout.webp">
</div>
<section class="vision-mission" data-aos="fade-left">
    <!-- Vision Card -->
    <div class="info-card vision-card">
        <div class="icon">
        </div>
        <div class="info-text" >
            <h3>OUR VISION</h3>
            <hr>
            <p>
                NIE strives to be a globally acknowledged institution, fostering a culture of innovation and excellence in technical
                and scientific education.
                We aim to cultivate world-class talent that not only excels academically but also embodies strong ethical values and
                a commitment to societal progress.
                Through state-of-the-art facilities, cutting-edge research, and collaborative learning environments, we empower
                students to become leaders and change-makers
                in a rapidly evolving global landscape. Our vision is to continuously advance the frontiers of knowledge while
                contributing to sustainable development and
                the well-being of humanity.
            </p>
        </div>
    </div>
</section>


<section class="vision-mission" data-aos="fade-right">
    <!-- Mission Card -->
    <div class="info-card mission-card">
        <div class="icon">
        </div>
        <div class="info-text">
            <h3>OUR MISSION</h3>
            <hr>
            <ul>
                <li>Impart state-of-the-art engineering education through strong theoretical foundation and practical
                    training to students in their choice of specialization.</li>
                <li>Create new knowledge through innovation and cutting-edge research in science and engineering.</li>
                <li>Provide a platform for inclusiveness and collaboration by following ethical and responsible
                    engineering practices for long-term interaction with academia and industry.</li>
                <li>Encourage entrepreneurship and develop sustainable technologies for the benefit of global society.
                </li>
            </ul>
        </div>

    </div>
</section>
</div>
